<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-16" />
    <link href="{{pageurl}}/css/vendor/scss/bootstrap.css" rel="stylesheet">
    <link href="{{pageurl}}/css/vendor/fontawesome/all.css" rel="stylesheet">
    <link href="{{pageurl}}/css/vendor/scss/application.css" rel="stylesheet">
</head>

<body class="bg-light">
<div class="container text-center">
    <img class="mx-auto mt-4 mb-3 p-2 bg-primary rounded" width="64"  src="{{pageurl}}/img/logo.png" />

    <div class="card w-100 mb-4">
        <div class="card-body">
           {{body}}
        </div>
    </div>

    <table class="table-unstyled text-muted mb-4 w-100">
        <tbody>
        <tr>
            <td class="text-left">&#169; Felix N&uuml;sse 2020</td>
            <td></td>
            <td class="text-right">Bielefeld, NRW</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
